@import "swiper/css";
@import "swiper/css/navigation";

@import "leaflet/dist/leaflet.css";



@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Fix para iconos en SSR */
/* @layer components { */
/*   .leaflet-container img.leaflet-tile { */
/*     display: block; */
/*   } */
/*   .leaflet-container .leaflet-control a { */
/*     background: #fff; */
/*     background: linear-gradient(to bottom, #fff, #f7f7f7); */
/*   } */
/* } */
/**/

/* Fix para iconos por defecto en SSR */
@layer components {
  .leaflet-container img.leaflet-tile {
    display: block;
  }
  .leaflet-container .leaflet-control a {
    background: #fff;
    background: linear-gradient(to bottom, #fff, #f7f7f7);
  }
  .leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: linear-gradient(to bottom, #fff, #f7f7f7);
  }
}


/* .perspective { */
/*   perspective: 1000px; */
/* } */
/**/
/* .transform-style-preserve-3d { */
/*   transform-style: preserve-3d; */
/* } */
/**/
/* .backface-hidden { */
/*   backface-visibility: hidden; */
/* } */


