@import "swiper/css";
@import "swiper/css/navigation";


@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .perspective { */
/*   perspective: 1000px; */
/* } */
/**/
/* .transform-style-preserve-3d { */
/*   transform-style: preserve-3d; */
/* } */
/**/
/* .backface-hidden { */
/*   backface-visibility: hidden; */
/* } */


